html
{
    scroll-behavior: smooth;
}
header{
    border: 0.4vw solid;
    background-color: rgb(27, 151, 110);
    color: rgb(0, 0, 0);
    background-attachment: fixed;
    width: auto;
    height: 10vw;
}
header img{
    width: 10%;
    height: auto;
    border-radius: 5.5vw;
    margin-left: 45%;
    position: absolute;
}
header strong{
    font-size: 1.5vw;
    float: right;
    margin-left: 1.5vw;
    
}
header h1{
    font-size: 4vw;
    width: 24%;
    height: auto;
    margin-left: 19%;
    border-top: 20%;
    margin-top: 2.5vw;
}
*
{
    margin: 0;
}